![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

# Variabilidad genética del gen <i>CRB1</i> en población general

### TEMA

Las distrofias de retina (DR) son un grupo de enfermedades raras que presentan alta variabilidad clínica y genética. El gen <i>CRB1</i> codifica para una proteína expresada en los fotorreceptores de la retina. Variaciones en este locus son causantes de Amaurosis Congénita de Leber (LCA) y Retinitis Pigmentosa (RP) en más de 80.000 personas a nivel mundial. Comprender la variabilidad genética existente en este locus permitirá identificar dianas para el desarrollo de nuevas terapias para estos pacientes.

Para ello se ha hecho uso de distintas bases de datos públicas:
- <b>GnomAD</b>: recoge las variantes identificadas y sus correspondientes frecuencias de proyectos mundiales de secuenciación del genoma humano.
- <b>ClinVar</b>: es un repositorio de variantes junto al criterio de patogenicidad asociado a una cierta enfermedad.
- <b>LOVD</b>: recopila información sobre la variación génica, así como aportar información del propio gen.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

<font size = 5><b>La frecuencia y distribución de las variantes del gen <i>CRB1</i> en población general siguen un patrón de variabilidad genética que se puede asociar a enfermedad visual</b></font>

1. La variabilidad poblacional nos permite identificar posiciones críticas en <b>CRB1</b>
2. La variabilidad es mayor en población de origen europeo que en otras poblaciones
3. No hay diferencias de variabilidad genética entre géneros
4.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
# describe la fuente de tus datos e incluye los links en Markdown

In [1]:
import pandas as pd

Muestra mediante un head() los principales datasets con los que vas a trabajar

# GnomAD
Se ha realizado una query en BigQuery (bigquery-public-data.gnomAD) donde está un acceso público a este repositorio para obtener los datos referentes al gen <i>CRB1</i>.

In [4]:
gnomad_crb1 = pd.read_json("GnomAD/Databases/Gnomad_crb1.json", lines = True)
gnomad_crb1.head()

,CHROM,START_POS,END_POS,dbSNP,REF,ALT,AC,AF,TYPE,CANONICAL,...,AF_seu,AF_onf,AF_amr,AF_afr,AF_eas,AF_asj,AF_oth,AF_male,AF_female,EXON
0,1,197241517,197241518,[rs1335507706],G,C,1,0.000032,snv,YES,...,0.0,0.000000,0.0,0.000115,0.0,0.000000,0.0,0.000057,0.000000,NaN
1,1,197239998,197239999,[rs1318432555],C,T,1,0.000032,snv,YES,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000057,0.000000,NaN
2,1,197240222,197240225,[rs1383439447],GGA,G,1,0.000032,del,YES,...,0.0,0.000469,0.0,0.000000,0.0,0.000000,0.0,0.000057,0.000000,NaN
3,1,197239286,197239287,[rs945705379],A,G,5,0.000159,snv,YES,...,0.0,0.000000,0.0,0.000229,0.0,0.006897,0.0,0.000286,0.000000,NaN
4,1,197241224,197241225,[rs1322562610],G,T,1,0.000032,snv,YES,...,0.0,0.000468,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000072,NaN

# ClinVar
Repositorio de variantes asociadas a enfermedad de origen genético, (https://www.ncbi.nlm.nih.gov/clinvar/?term=crb1%5Bgene%5D&redir=gene).

In [7]:
clinvar_crb1 = pd.read_csv("GnomAD/clinvar_result.txt", sep='\t')
clinvar_crb1.head()

,Name,Gene(s),Protein change,Condition(s),Clinical significance (Last reviewed),Review status,Accession,GRCh37Chromosome,GRCh37Location,GRCh38Chromosome,GRCh38Location,VariationID,AlleleID(s),dbSNP ID,Canonical SPDI,Unnamed: 15
0,NM_201253.2(CRB1):c.-204C>T,CRB1,NaN,Retinitis pigmentosa|Pigmented paravenous reti...,"Uncertain significance(Last reviewed: Jan 13, ...","criteria provided, single submitter",VCV000294665,1.0,197237339,1.0,197268209,294665,279527,rs544047392,NC_000001.11:197268208:C:T,NaN
1,NM_201253.2(CRB1):c.-195G>A,CRB1,NaN,Retinitis pigmentosa|Pigmented paravenous reti...,"Uncertain significance(Last reviewed: Jan 13, ...","criteria provided, single submitter",VCV000294666,1.0,197237348,1.0,197268218,294666,278311,rs886045782,NC_000001.11:197268217:G:A,NaN
2,NM_201253.3(CRB1):c.-56C>G,CRB1,NaN,Retinitis pigmentosa|Leber congenital amaurosi...,"Uncertain significance(Last reviewed: Apr 27, ...","criteria provided, single submitter",VCV000874265,1.0,197237487,1.0,197268357,874265,863217,rs1654712316,NC_000001.11:197268356:C:G,NaN
3,NM_201253.3(CRB1):c.-55C>T,CRB1,NaN,Pigmented paravenous retinochoroidal atrophy|L...,"Uncertain significance(Last reviewed: Jan 13, ...","criteria provided, single submitter",VCV000875194,1.0,197237488,1.0,197268358,875194,863218,rs965921500,NC_000001.11:197268357:C:T,NaN
4,NM_201253.3(CRB1):c.4G>A (p.Ala2Thr),CRB1,A2T,Leber congenital amaurosis 8|Retinitis pigment...,"Uncertain significance(Last reviewed: Jun 13, ...","criteria provided, single submitter",VCV001479173,1.0,197237546,1.0,197268416,1479173,1426544,NaN,NC_000001.11:197268415:G:A,NaN

# LOVD
Este es otro repositorio de varianes que incluye información del gen, incluyendo una tabla que hace referencia a las posiciones de dicho tránscrito que pertenecen a regiones exónicas o intrónicas utilizada en este proyecto.

In [8]:
table = pd.read_html('https://databases.lovd.nl/shared/refseq/CRB1_NM_201253.2_table.html')
table[0].head()

,exon,c.startExon,c.endExon,g.startExon,g.endExon,lengthExon,lengthIntron
0,1,-209,70,4927,5205,279,59939.0
1,2,71,652,65145,65726,582,15277.0
2,3,653,848,81004,81199,196,2863.0
3,4,849,988,84063,84202,140,9351.0
4,5,989,1171,93554,93736,183,63986.0