# SQL island
## Queus of the game

In [ ]:
SELECT * FROM village
SELECT * FROM inhabitant
SELECT * FROM inhabitant WHERE job = 'butcher'
SELECT * FROM inhabitant WHERE state = "friendly"
SELECT * FROM inhabitant WHERE state = "friendly" AND job="weaponsmith"
SELECT * FROM inhabitant WHERE state = "friendly" AND job LIKE "%smith"
INSERT INTO inhabitant (name, villageid, gender, job, gold, state) VALUES ('Stranger', 1, '?', '?', 0, '?')
SELECT personid FROM inhabitant WHERE villageid = 1 AND gold = 0
SELECT * FROM item WHERE owner IS NULL
UPDATE item SET owner = 20 WHERE item = 'coffee cup'
UPDATE item SET owner = 20 WHERE owner IS NULL
SELECT * FROM item WHERE owner = 20
SELECT * FROM inhabitant WHERE state = "friendly" AND (job = "dealer" OR job = "merchant")
UPDATE item SET owner = 15 WHERE item IN (SELECT item FROM ITEM WHERE item = "ring" OR item = "teapot")
UPDATE inhabitant SET gold = gold + 120 WHERE personid = 20
UPDATE inhabitant SET name = "CR" WHERE personid = 20
SELECT * FROM inhabitant WHERE job = "baker" ORDER BY gold DESC
UPDATE inhabitant SET gold = gold + 100 - 150 WHERE personid = 20
INSERT INTO item (item, owner) VALUES ('sword', 20)
SELECT * FROM inhabitant WHERE job = "pilot"
SELECT village.name FROM village, inhabitant WHERE village.villageid = inhabitant.villageid AND inhabitant.name = 'Dirty Dieter'
SELECT inhabitant.name FROM village, inhabitant WHERE village.chief = inhabitant.personid AND village.name = "Onionville" 
SELECT COUNT(*) FROM inhabitant, village WHERE village.villageid = inhabitant.villageid AND village.name = 'Onionville'
SELECT COUNT(*) FROM inhabitant, village WHERE village.villageid = inhabitant.villageid AND village.name = 'Onionville' AND inhabitant.gender = "f"
SELECT inhabitant.name FROM inhabitant, village WHERE village.villageid = inhabitant.villageid AND village.name = 'Onionville' AND inhabitant.gender = "f"
SELECT SUM(inhabitant.gold) FROM inhabitant, village WHERE village.villageid = inhabitant.villageid AND village.name = 'Cucumbertown'
SELECT SUM(inhabitant.gold) FROM inhabitant WHERE job = "baker" OR job = "dealer" OR job = "merchant"
SELECT job, SUM(inhabitant.gold), AVG(inhabitant.gold) FROM inhabitant GROUP BY job ORDER BY AVG(inhabitant.gold)
SELECT state, AVG(inhabitant.gold) FROM inhabitant GROUP BY state ORDER BY AVG(inhabitant.gold)
DELETE FROM inhabitant WHERE name = 'Dirty Dieter'
UPDATE inhabitant SET state = "friendly" WHERE job = "pilot"
UPDATE inhabitant SET state = 'emigrated' WHERE personid = 20